@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/*Navigation Links*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

/*Align logo and menu horizontally*/
#menu,
#logo {
    line-height: 75px;
}

/*float the menu on the right and remove the underlined text 'home' 'gallery' 'sign up'*/
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/*we use the hover psudo class so that we get an underline only when we hover over 'home''gallery''sign up' */
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*to bring the header below the logo overflow can be used as an alternative to clear both - This code sets a container with a width and height of 600px and applies the "overflow: hidden" property. Any content that exceeds the container's size will be hidden, and the container will not display any scrollbars.*/
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

/*hero image - note center center will center the image horizontally and vertically*/
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;

    /*Second animate zooming effect on loading page*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/*h2 to override the default setting*/
#cover-text,
#cover-text h2 {
    color: #fff;
}

/*first create the level of animation / zooming effect of the main image one frame at a time*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/*club-ethos*/

#club-ethos {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    /*there is no Float:center in css so use margin: 0 auto;*/
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    /*The shorthand syntax margin: 5px 0; is equivalent to margin-top: 5px; margin-bottom: 5px; margin-left: 0; margin-right: 0;*/
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    /*to ensure that each content block is aligned verticallt*/
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    /*to ensure that each content block is aligned verticallt*/
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2,
p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    /*border radius 50% conconvert a square into a circle*/
    border-radius: 50%;
    /*to align the circle in the center of its div*/
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/ethos-center-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/*times background image*/
#times {
    background-image: url('../images/dublin-city.webp');
    background-size: cover;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.6);
    width: 20%;
    height: 200px;
    float: left;
    /*padding 30px top 0 right 0 bottom and 10px left*/
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    /*box-sizing tells the browser to include the border width in the total width of the div element*/
    box-sizing: border-box;
}

#times h2 {
    color: #fafafa;
}

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

/*target list items and align them horizontally*/
.social-networks li {
    display: inline;
}

/*target the icons to move them apart horizontally*/
.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/*Gallery*/
#photos {
    /* clear: both - we do this so that the photo section and its content appear below the header*/
    clear: both;
    /*set the line height to 0 in order to remove the horizontal gaps between images*/
    line-height: 0;
    column-count: 4;
    /*remove column gaps by setting the column-gap to 0*/
    column-gap: 0;
}

/*target images within the photo section*/
#photos>img {
    width: 100%;
}

/*media queries - Media queries contain styles that are only called when certain criteria are met,
such as a specified screen width being reached.*/

/*For larger to medium screen sizes from 1200px wide and down to tablet size the club-ethos section will resize*/
/*1200px is the point at which our club-ethos elements become distorted and visually compromised*/
@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        /*top and bottom margin to 0 and the left and right margin are "auto"*/
        margin: 0 auto;
    }

    /*Welcome message and circular image below*/
    #welcome {
        /*30 pixels at the top and bottom and 0 pixels at the left and right*/
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        /*override any default desktop-level padding*/
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    /*target the child times of each div*/
    #times > div {
        /*we change the width from 20% to 100% to fill the screen width*/
        width: 100%;
        /*clear both to stack the times vertically*/
        clear: both;
        /*height of each div*/
        height: 150px;
        /*padding is 0 to clear any unwanted desktop level padding*/
        padding: 0;
    }

    hr {
        display: none;
    }
}

/*for medium screen sized of 950px and down suitable for smart phones*/

@media screen and (max-width: 950px) {
    /*we want to push the menu below the Logo*/
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        /*to produce some space between the menu and the logo*/
        line-height: 25px;
    }
    
    #cover-text {
        left: 0;
    }

    #club-ethos {
        /*width: 90% refers to 5% spacing is left for either side of the screen*/
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading {
        /*width inherited from parent section*/
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }

    #photos {
        column-count: 3;
    }
}
/*for small screen sizes 800px and down*/
@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }
}