@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/*Navigation Links*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

/*Align logo and menu horizontally*/
#menu,
#logo {
    line-height: 75px;
}

/*float the menu on the right and remove the underlined text 'home' 'gallery' 'sign up'*/
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/*we use the hover psudo class so that we get an underline only when we hover over 'home''gallery''sign up' */
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*to bring the header below the logo overflow can be used as an alternative to clear both - This code sets a container with a width and height of 600px and applies the "overflow: hidden" property. Any content that exceeds the container's size will be hidden, and the container will not display any scrollbars.*/
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

/*hero image - note center center will center the image horizontally and vertically*/
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;

    /*Second animate zooming effect on loading page*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/*h2 to override the default setting*/
#cover-text,
#cover-text h2 {
    color: #fff;
}

/*first create the level of animation / zooming effect of the main image one frame at a time*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/*Ethos Club*/

#ethos-club {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    /*there is no Float:center in css so use margin: 0 auto;*/
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    /*The shorthand syntax margin: 5px 0; is equivalent to margin-top: 5px; margin-bottom: 5px; margin-left: 0; margin-right: 0;*/
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    /*to ensure that each content block is aligned verticallt*/
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    /*to ensure that each content block is aligned verticallt*/
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2, p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    /*border radius 50% conconvert a square into a circle*/
    border-radius: 50%;
    /*to align the circle in the center of its div*/
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/ethos-center-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/*times background image*/
#times {
    background-image: url('../images/dublin-city.webp');
    background-size: cover;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    
}