@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
}

/*Navigation Links*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

/*Align logo and menu horizontally*/
#menu,
#logo {
    line-height: 75px;
}

/*float the menu on the right and remove the underlined text 'home' 'gallery' 'sign up'*/
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/*we use the hover psudo class so that we get an underline only when we hover over 'home''gallery''sign up' */
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*to bring the header below the logo overflow can be used as an alternative to clear both - This code sets a container with a width and height of 600px and applies the "overflow: hidden" property. Any content that exceeds the container's size will be hidden, and the container will not display any scrollbars.*/
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

/*hero image - note center center will center the image horizontally and vertically*/
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;

    /*Second animate zooming effect on loading page*/
        animation-name: hero-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;
}

/*first create the level of animation / zooming effect of the main image one frame at a time*/
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}